@media only screen and (max-width: 300px) {
    .box5{
        font-size: 30px;
    }
    .box1{
        width: 200px;
    }
  }


.box4{
    overflow-x: auto;
}

.box5{
    text-align: center;
    color: white; 
}

.box23{
    display: flex;
    text-align: center;
    padding-left: 0%;
    align-items: center;
    padding: 90px;

}

.box34{
    padding-top: 56px;
    display: block;
    counter-increment: inherit;
}

